
div 
    //-  probando el pug
    //- h2= autenticado
    if autenticado 
        p Uusario autenticado
    else
        p iniciar seccion
p(class ="text-center") Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis quod obcaecati laborum, eos quam tenetur nemo corrupti nobis voluptatibus consequatur! Animi cumque delectus culpa perspiciatis ab quis voluptatem quos.

