<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar cuenta</title>
    <link rel="stylesheet" href="css/layout.css">
</head>
<body>
    <header>
        <h1><span style="font-weight: 900; color: #110f0f;">Bienes</span><span style="font-weight: 100;">Raices</span></h1>
        <h2>Recuperar cuenta</h2>
        <form action="">
            <input type="email" placeholder="correo" name="correo"><br>
            <input type="text" placeholder="contraseña" name="contraseña"><br>
            <input type="submit" value="Recuperar" class="btn"><br>
        </form>
        <div class="volver">
            <a class="link" href="/layout">Volver a registro</a>
        </div>
    </header>
</body>
</html>