<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styleUser.css">
</head>
<body>
    <div class="ingresar">
        <div class="header">
            <a class="volver" href="/layout">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
                    <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1"></path>
                </svg><p>INICIO</p>
            </a>
            <h1>Recuperar cuenta</h1>
        </div>
        <hr>
        <div class="forma2">
            <form onsubmit="return false;">
                <div class="form-group">
                    <label for="username">Correo de recuperación</label>
                    <input type="text" id="username" placeholder="usuario@correo.es">
                </div>
                <div class="buttons">
                    <button  id="crear" class="crear">Recuperar</button>
                </div>

            </form>
        </div>
</body>
</html>